<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProtipoConsultaWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ProtipoConsultaWebService.Properties.Settings>
      <setting name="ProtipoConsultaWebService_br_gov_fazenda_nfe_hom_NFeDistribuicaoDFe" serializeAs="String">
        <value>https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx</value>
      </setting>
      <setting name="ProtipoConsultaWebService_br_gov_fazenda_nfe_www_RecepcaoEvento" serializeAs="String">
        <value>https://www.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
      </setting>
    </ProtipoConsultaWebService.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
